# Bedrock UDP proxy on the tunnel VM
# Public: 0.0.0.0:{{ bedrock_primary_port }} → {{ bedrock_backend_ip }}:19132

upstream bedrock_upstream {
    server {{ bedrock_backend_ip }}:19132;
}

server {
    listen {{ bedrock_primary_port }} udp;

    {% if expose_secondary_bedrock %}
    listen 19133 udp;
    {% endif %}

    proxy_timeout 60s;
    proxy_responses 1;
    proxy_pass bedrock_upstream;
}
