.terraform/
*.terraform*
*.tfstate*
*.tfvars*
*.tmp

.venv/
.env

.DS_Store

.infisical.json
current_proxmox_dhcp_leases.json
wg_tunnel_credentials.json
id_*
*.keyring
*.key

workloads/talos-k8s/terraform/output/*
