[Interface]
Address = {{ wg_server_address | trim }}/24
ListenPort = {{ wg_listen_port }}
PostUp = {{ add_tunnel_script_file | trim }}
PostDown = {{ remove_tunnel_script_file | trim }}
PrivateKey = {{ wg_server_private_key | trim }}
 
[Peer]
AllowedIPs = {{ wg_client_address | trim }}/32
PublicKey = {{ wg_client_public_key | trim }}
